* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body {
    margin: 0;
    padding: 0;
}

header {
    position:relative;
    text-align: center;
    background-color: rgba(100, 148, 237, 0.664);
}

nav {
    flex-wrap: wrap;
    align-items: center;
    border: 10px;
}

.image-container {
    position:relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.column {
    width: 100%;
    height: 100%;
}

img {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
}

.top-right {  
    position: absolute;
    background-color: rgba(100, 148, 237, 0.788);
    top: 8px;
    right: 10px;
    font-size: larger;
}

a {
    background-color: rgba(255, 192, 203, 0.733);
}

footer {
    background-color: cornflowerblue;
    text-align: center;
}

a:hover{
    background-color: cyan;
    cursor: pointer;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    background-color: rgba(100, 148, 237, 0.774);
}

button {
    position: relative;
    background-color: pink;
}

button:hover {
    color: darkturquoise;
    cursor: pointer;
}