* {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
}
header {
       padding: 20px;
       background-color: deepskyblue;
       text-align: center;
}

#pigs {
       background-color: white;
}

.images {
       position: relative;
       background-size: cover;
       height: 100vh;
}

#first {
       text-align: center;
}

#hideaways {
}

#food {
}

.button {
       background-color: blueviolet;
       color: white;
       border: 1px solid black;
       padding: 10px 20px;
}
.button:hover {
       background-color: lime;
       color: white;
       border-color: pink;
}
.copy {
      text-align: center;
      padding: 20px;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      font-size: small;
    }
